.event {
  box-shadow: 0 3px 4px #9c8a83;
  display: block;
  text-decoration: none;

  .masonry-item {
    background: map.get($theme-colors, "light");
  }

  .event-caption {
    text-align: left;
    margin-top: 10px;
    padding: 10px 10px 30px 10px;
    .event-title {
      font-size: 1.25rem;
      font-weight: bold;
      color: map.get($theme-colors, "primary");
      a:hover & {
        color: map.get($theme-colors, "dark");
      }
    }
    .event-date {
      font-size: 0.9rem;
      color: map.get($theme-colors, "secondary");
    }
  }
}
