.footer {
  text-align: left;
  background: linear-gradient(
    to bottom,
    transparent 0%,
    map.get($theme-colors, "light") 20%,
    map.get($theme-colors, "light") 100%
  );
  color: map.get($theme-colors, "dark");
  padding-top: 100px;
  padding-bottom: 100px;
  a {
    color: map.get($theme-colors, "primary");
  }
  @include media-breakpoint-down(sm) {
    text-align: center;
  }
  .nav-item {
    margin-bottom: 30px;
  }
  &__heading {
    font-family: var(--font-playfair-display);
    @include media-breakpoint-up(sm) {
      font-size: 22px;
      text-transform: uppercase;
      margin-bottom: 35px;
    }
  }
  &__address {
    strong {
      font-weight: normal;
    }
    p {
      margin: 0;
    }
  }
  &__newsletter {
  }
  &__social {
    font-size: 2rem;
    a i {
      color: map.get($theme-colors, "primary");
    }
  }
  h5 {
    text-transform: none;
  }
}
