.footer {
  background-color: transparent;
  color: map.get($theme-colors, "dark");
  padding-top: 100px;
  @include media-breakpoint-up(sm) {
    padding-top: 135px;
  }
  .nav-item {
    margin-bottom: 30px;
  }
  &__heading {
    font-family: var(--font-playfair-display);
    @include media-breakpoint-up(sm) {
      font-size: 22px;
      text-transform: uppercase;
      margin-bottom: 35px;
    }
  }
  &__address {
    strong {
      font-weight: normal;
    }
    p {
      margin: 0;
    }
  }
  &__newsletter {
  }
  &__social {
    font-size: 2rem;
    a i {
      color: map.get($theme-colors, "primary");
    }
  }
  h5 {
    text-transform: none;
  }
}
